<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{.Title}}</title>
  <meta name="description" content="Login Page">
  <meta name="author" content="Connectlabs WiFi">

  <style>

  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

	<body>
    <h1 class="siteName">{{.Title}}</h1>
    <h2 class="subTitle">{{.SubTitle}}</h2>

    <ul class="providers">
      {{ if .FacebookProvider }}
      <li class="provider">
        {{ if eq .FacebookUser.Provider "facebook" }}
        <div class="hello">Hello {{ .FacebookUser.Name }}!</div>
        <a href="/auth/logout/facebook">Logout</a>
        {{ else }}
        <a href="/auth/facebook/login">Facebook Login</a>
        {{ end }}
      </li>
      {{ end }}
      {{ if .TwitterProvider }}
      <li class="provider">
        {{ if eq .TwitterUser.Provider "twitter" }}
        <div class="hello">Hello {{ .TwitterUser.Name }}!</div>
        <a href="/auth/logout/twitter">Logout</a>
        {{ else }}
        <a href="/auth/twitter/login">Twitter Login</a>
        {{ end }}
      </li>
      {{ end }}
      {{ if .GPlusProvider }}
      <li class="provider">
        {{ if eq .GPlusUser.Provider "gplus" }}
        <div class="hello">Hello {{ .GPlusUser.Name }}!</div>
        <a href="/auth/logout/gplus">Logout</a>
        {{ else }}
        <a href="/auth/gplus/login">Facebook Login</a>
        {{ end }}
      </li>
      {{ end }}
      <li class="provider">
        <form><input type="email" /></form>
      </li>
    </ul>

    <div class="info">
    </div>
</body></html>
